<!DOCTYPE html >
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"></html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>

<div class="container-fluid bg-dark">
    <nav class="navbar navbar-light" style="justify-content: unset"
         th:each="user : ${user}">
        <span class="navbar-brand mb-0 h1" style="color:white"
              th:text="${user.getUsername()} + ' with roles ' + ${user.roleName()}">
        </span>
        <a href="/logout">
            <a class="text-muted" style="margin-left: 1570px" th:href="@{/logout}">Logout</a>
        </a>
    </nav>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <nav class="nav flex-column">
                <a class="nav-link" href="/user">User</a>
            </nav>
        </div>
        <div class="col-10" style="background: lightgrey">
            <div class="tab-content" id="v-pills-tabContent" style="padding: 15px 20px 0; height: 100vh ">
                <div class="tab-pane fade show active" id="adminPage" role="tabpanel">
                    <div class="container-fluid "><h1>User Information</h1></div>
                    <div class="container-fluid ">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="tab">
                                <button class="nav-link active" id="user-tab" data-toggle="tab" data-target="#home"
                                        type="button" role="id" aria-controls="home" aria-selected="true">User Table</button>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel"
                                 aria-labelledby="home-tab">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>User Name</th>
                                        <th>Gender</th>
                                        <th>Role</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="user : ${user}">
                                        <th scope="row" th:text="${user.id}">1</th>
                                        <td th:text="${user.firstName}"></td>
                                        <td th:text="${user.lastName}"></td>
                                        <td th:text="${user.username}"></td>
                                        <td th:text="${user.gender}"></td>
                                        <td th:text="${user.roleName()}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>